body {
  font-family: "Roboto", sans-serif;
  margin: 2rem 1.5rem;
}

#pokemon-display {
  background-color: rgba(255, 0, 0, 0.6);
  justify-content: space-between;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgba(75, 75, 75, 0.35);
  display: flex;
  padding: 2.5rem 2rem;
  color: #ffffff;
}

.display__pokemon-properties {
  display: flex;
  flex-direction: row;
}

.display__pokemon-info__number {
  font-size: 24px;
  margin: 0px;
}

.display__pokemon-info__name {
  font-size: 64px;
  margin: 0px;
}

.display__pokemon-info__tags {
  flex-direction: row;
  margin-bottom: 1.5rem;
  display: flex;
}

.display__pokemon-info__tags__item {
  background-color: #ffffff;
  border-radius: 30px;
  font-size: 16px;
  padding: 0.25rem 1.5rem;
  color: #2b2b2b;
}

.display__pokemon-info__tags__item + .display__pokemon-info__tags__item {
  margin-left: 1rem;
}

.display__pokemon-info__basics {
  flex-direction: column;
  display: flex;
}

.display__pokemon-info__basics__item + .display__pokemon-info__basics__item {
  margin-top: 0.5rem;
}

.display__pokemon-stats {
  flex-direction: column;
  border-left: 2px solid #ffffff;
  margin-left: 2rem;
  display: flex;
  padding: 0 2rem;
  font-size: 16px;
}

.display__pokemon-stats span {
  margin-bottom: 0.5rem;
}

.display__pokemon-stats__title {
  margin-bottom: 1.5rem;
  margin-top: 0px;
  font-size: 24px;
}

.display__pokemon-image-wrapper {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  display: flex;
}

.display__pokemon-image-wrapper__image {
  height: 100%;
  width: 100%;
}
